body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0e0e0;
  min-height: 100%;
}

html {
  height: 100%;
}

.flex-init-setup {
     display: -webkit-box;
     display: -moz-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     background-color: #e0e0e0;
 }
 .flex-ppal-setup {
    -ms-flex-flow: column ;
    flex-flow: column;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
 }
